<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.saumya.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Activity.SignUpActivity">
        </activity>
        <activity android:name=".Activity.Main2Activity">
        </activity>
        <activity android:name=".Activity.MyAccount">
        </activity>
        <activity android:name=".Activity.DealsActivity">
        </activity>
        <activity android:name=".Activity.HelpActivity">
        </activity>
        <activity android:name=".Activity.OfferActivity">
        </activity>
        <activity android:name=".KurtiDescription.Kurtib">
        </activity>
        <activity android:name=".Activity.OpenLook">
        </activity>
        <activity android:name=".KurtiDescription.Kurtia">
        </activity>
        <activity android:name=".Activity.LoginActivity">
        </activity>
        <activity android:name=".Activity.ShowallActivity">
        </activity>
        <activity
                android:name=".Activity.NavigationActivity"
                android:label="@string/title_activity_navigation"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Activity.MainActivity"
                android:label="@string/app_name">
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>